body {
    margin: 0;
    padding: 0;
}

.logo_text {
    display: grid;
}

.logo_text h1 {
    margin: 0;
    padding: 25px;
    color: white;
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    letter-spacing: 25px;
    line-height: 20px;
    text-shadow: 6px 4px 6px rgba(0, 0, 0, 0.25);
}

header {
    width: 100%;
    background: #8B74FF;
    height: 70px;
}

footer {
    width: 100%;
    background: #8B74FF;
    height: 150px;
}

.container_foot {
    display: grid;
    gap: 10px;
    grid-template-columns: 350px auto 350px;
}

.logo_text_foot {
    display: grid;
    margin: 0;
    padding: 25px;
    color: white;
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    letter-spacing: 25px;
    line-height: 20px;
    text-shadow: 6px 4px 6px rgba(0, 0, 0, 0.25);
}

.s_foot {
    display: grid;
}

.contact {
    margin-top: 55px;
    display: grid;
    color: white;
    font-family: 'Roboto';
    font-size: 20px;
}

ul.contact_list {
    margin: 0;
    /* Обнуляем значение отступов */
    padding: 4px;
    /* Значение полей */
    word-spacing: 20px;
}

ul.contact_list li {
    display: inline;
    margin-left: 10px;
}

.container {
    display: grid;
    gap: 10px;
    grid-template-columns: 350px auto 350px;
}

.f_menu {
    display: grid;
}

.f_menu h1 {
    color: white;
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    margin: 0;
    padding: 15px;
}

.sec-menu {
    display: grid;
}

.svg_burger_menu {
    margin-top: 10px;
    margin-left: 275px;
}

.svg_lupa {
    margin-bottom: -9px;
    margin-left: -65px;
}

.svg_bucket {
    width: 45px;
    height: 34px;
    margin-left: 70px;
    margin-bottom: 30px;
}


/* 1280 640 */

.content {
    background-color: #F5F5F5;
    display: grid;
    grid-template-columns: 1260px 643px;
}

.calendar_cont {
    background-color: #F5F5F5;
    height: 890px;
}

.calendar {
    width: 1001px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 95px;
    border-radius: 15px;
}

.vidjet_cont {
    width: 643px;
    height: 890px;
    margin-left: auto;
}

.vidjet_write {
    width: 501px;
    background-color: white;
    border: 5px solid #8B74FF;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 95px;
    border-radius: 15px;
}

.note_title {
    font-family: 'PT Sans Narrow';
    color: #B7B7B7;
    padding-left: 15px;
    outline: none;
    width: 301px;
    height: 35px;
    margin-left: 90px;
    margin-top: 15px;
    border-radius: 15px;
    border: 2px solid #8B74FF;
    font-size: 20px;
}

.vidjet {
    width: 501px;
    background-color: white;
    border: 5px solid #8B74FF;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 95px;
    border-radius: 15px;
}

.vidjet_header {
    height: 65px;
    background-color: #8B74FF;
}

.vidjet_header p {
    font-family: 'PT Sans Narrow';
    text-align: center;
    font-weight: bold;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 20px;
    /* identical to box height, or 56% */
    color: #FFFFFF;
    margin: 0;
    padding: 20px;
}

.vidjet_header_write {
    height: 65px;
    background-color: #8B74FF;
    display: grid;
    grid-template-columns: 50px auto 50px;
}

.arrow_btn {
    background: none;
    border: none;
    margin-top: 12px
}

.s_header_write {
    font-family: 'PT Sans Narrow';
    text-align: center;
    font-weight: bold;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 20px;
    /* identical to box height, or 56% */
    color: #FFFFFF;
    margin-top: 20px
}

.check_btn {
    background: none;
    border: none;
    margin-top: 8px;
    margin-left: -25px
}

.note_search {
    font-family: 'PT Sans Narrow';
    color: #B7B7B7;
    padding-left: 15px;
    outline: none;
    width: 301px;
    height: 35px;
    margin-left: 90px;
    margin-top: 15px;
    border-radius: 15px;
    border-color: #8B74FF;
}

.write {
    overflow-y: scroll;
    overflow-x: hidden;
    white-space: nowrap;
}

.vidjet_note_write {}

.vidjet_notes {
    width: 490px;
    height: 570px;
    overflow-y: scroll;
    overflow-x: hidden;
    white-space: nowrap;
    /* Добавляем полосы прокрутки */
}

#scrollbar::-webkit-scrollbar {
    width: 12px;
    background-color: white;
}

#scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(white, #8B74FF, white);
    border: 2px solid #8B74FF;
}

.note {
    /* display: grid;
    grid-template-columns: 301px 100px; */
    border: 3px solid #8B74FF;
    width: 401px;
    height: 71px;
    margin-top: 40px;
    margin-left: 50px;
    border-radius: 10px;
}

.note p {
    margin-top: -10px;
}

.note_txt_name,
.note_txt_name:hover {
    padding-left: 10px;

    font-family: 'PT Sans Narrow';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    text-decoration: none;
    /* identical to box height, or 67% */
    color: #696767;
}
.note_txt{
 padding-top: 13px;
}
.note_txt,
.note_txt:hover,
 a,
 a:hover{

    padding-left: 10px;
    font-family: 'PT Sans Narrow';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
    /* identical to box height, or 91% */
    color: #B7B7B7;
}

.vidjet_add {
    height: 60px;
    background-color: #8B74FF;
    border: none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 491px
}

.vidjet_add:hover {
    height: 60px;
    background-color: #9F78F3;
    border: none;
    width: 491px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.vidjet_add p {
    font-family: 'PT Sans Narrow';
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 20px;
    /* identical to box height, or 56% */
    color: #FFFFFF;
    margin: 0;
    padding: 20px;
}

html {
    overflow: hidden;
}

.poisk {
    border: none;
    background: none;
}

.delete {
    margin-top: -40px;
    margin-left: 270px;
    border: none;
    background: none;
}