<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>HelpBox</title>
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/static/css/greeting.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <div class="reg">
            <a href="/registration">
                <p style="text-align: center;">регистрация</p>
            </a>
        </div>
        <div>
            <a href="/auth/login">
                <p style="text-align: center;">вход</p>
            </a>
        </div>
        <img style="margin-left: 40%;" src="https://c.tenor.com/NF6ixwAmrTMAAAAd/cristiano-ronaldo-drinking.gif" alt="я джифка">
    </div>
    </div>

</body>

</html>