<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HelpBox</title>
    <link rel="stylesheet" href="/static/css/osnova.css">
    <link rel="preload" href="/static/fonts/PTSansNarrow-Bold.ttf" as="font">
    <link rel="preload" href="/static/fonts/PTSansNarrow-Regular.ttf" as="font">
    <link rel="icon" href="/static/images/newicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/calendar.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/note.js"></script>
</head>
<body>
<header class="container">
    <div class="f_menu">
        <h1 th:text = "${user.getFirstName()} + ' ' + ${user.getLastName()}"></h1>
    </div>
    <div class="logo_text">
        <h1>HELPBOX</h1>
    </div>
    <div class="sec-menu">
        <a href="#pop_menu"> <img src="/static/images/menus.svg" alt="" width="17%" height="17%" class="svg_burger_menu"> </a>
    </div>
</header>
<div class="content">
    <div class="light">
        <div class="calendar">
            <div class="calendar-header">
                <span class="month-picker" id="month-picker" style="color:#7635FF"></span>
                <div class="year-picker" style="color:#7635FF">
                     <span class="year-change" id="prev-year">
                        <pre style="color:#7635FF"><</pre>
                     </span>
                    <span id="year"></span>
                    <span class="year-change" id="next-year">
                        <pre style="color:#7635FF">></pre>
                     </span>
                </div>
            </div>
            <div class="calendar-body">
                <div class="calendar-week-day">
                    <div style="color:#E83232;">Вс</div>
                    <div>Пн</div>
                    <div>Вт</div>
                    <div>Ср</div>
                    <div>Чт</div>
                    <div>Пт</div>
                    <div>Сб</div>
                </div>
                <div class="calendar-days"></div>
            </div>
            <div class="calendar-footer">
            </div>
            <div class="month-list"></div>
        </div>
    </div>
    <div class="vidjet_cont">
        <div id = "open_write" class="vidjet_write" hidden>
            <div class="vidjet_header_write">
                <div class="f_header_write">
                    <button id = "ArrowButton" class="arrow_btn" onclick="return show_hide_write(this);"><img src="/static/images/arrow.svg"></button>
                </div>
                <div class="s_header_write">
                    <p>ЗАМЕТКИ</p>
                </div>
                <div class="t_header_write">
                    <button form = "add" class="check_btn"><img src="/static/images/check.svg"></button>
                </div>
            </div>
            <div class="vidjet_note">
                <form action="/auth/main/" method="POST" id = "add">
                    <div class="vidjet_note_title">
                        <input class="note_title" type="text" name="title" placeholder="Введите название заметок" required/>
                    </div>
                    <div class="note_txt">
                        <p style="margin-left: 35px;">23.02.22</p>
                    </div>
                    <div class="write">
                        <textarea class="note_txt_name" type="text" name="text" placeholder="Текст новой заметки" style="width: 401px; height: 500px; margin-left: 40px; resize: none; border: none; outline:none" required></textarea>
                    </div>
                </form>
            </div>
        </div>
        <div id = "close_write" class="vidjet">
            <div class="vidjet_header">
                <form action="/auth/holidays" method="POST" id="find">
                    <table class="tb_head">
                        <tr>
                            <td>
                                <input class="dropbtn" type="text" name="date" placeholder="День" required>
                            </td>
                            <td>
                                <p>ПРАЗДНИКИ</p>
                            </td>
                            <td>
                                <input class="dropbtn" type="text" name="month" placeholder="Месяц" required>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="vidjet_notes" id="scrollbar">
                <table class="holidays" th:each="entry: ${holidays}">
                    <tr>
                        <td><textarea class = "holiday"  th:text = "${entry.key}" disabled/></td>
                    </tr>
                    <tr>
                        <td><textarea class="holiday_descr" id="txt_hol"  style="min-height:150px;"  th:text = "${entry.value}" disabled/></td>
                    </tr>
                </table>
                <textarea style="text-align: center" class="holiday" th:if="${exception != null}" th:text="${exception}"/>
            </div>
            <button class="vidjet_add" form="find">
                <p>Найти праздники</p>
            </button>
        </div>
    </div>
    <div id="pop_menu" class="pop_menu">
        <div class="popup_menu_cont">
            <a href ="" class="arrow_btn_hol"><img src="/static/images/arrow.svg" style="margin-top: 10px;"></a>
            <div class="popup_vidjet">
                <a href="/auth/main/" >
                    <p class="vid_p">Заметки</p>
                </a>
            </div>
            <div class="popup_hol">
                <a href="/auth/holidays">
                    <p class="hol_p">Праздники</p>
                </a>
            </div>
        </div>
    </div>
</div>
</div>
<script src="/static/js/calendar.js"></script>
</body>
</html>