<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HelpBox</title>
    <link rel="stylesheet" href="/static/css/osnova.css">
    <link rel="preload" href="/static/fonts/PTSansNarrow-Bold.ttf" as="font">
    <link rel="preload" href="/static/fonts/PTSansNarrow-Regular.ttf" as="font">
    <link rel="icon" href="/static/images/newicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/calendar.css">
    <script src="/static/js/note.js"></script>
</head>

<body>
    <header class="container">
        <div class="f_menu">
            <h1 th:text = "${user.getFirstName()} + ' ' + ${user.getLastName()}"></h1>
        </div>
        <div class="logo_text">
            <h1>HELPBOX</h1>
        </div>
        <div class="sec-menu">
            <img src="/static/images/menus.svg" alt="" width="17%" height="17%" class="svg_burger_menu">
        </div>
    </header>
    <div class="content">
        <div class="light">
            <div class="calendar">
                <div class="calendar-header">
                    <span class="month-picker" id="month-picker" style="color:#7635FF"></span>
                    <div class="year-picker" style="color:#7635FF">
                        <span class="year-change" id="prev-year">
                        <pre style="color:#7635FF"><</pre>
                    </span>
                        <span id="year"></span>
                        <span class="year-change" id="next-year">
                        <pre style="color:#7635FF">></pre>
                    </span>
                    </div>
                </div>
                <div class="calendar-body">
                    <div class="calendar-week-day">
                        <div style="color:#E83232;">Вс</div>
                        <div>Пн</div>
                        <div>Вт</div>
                        <div>Ср</div>
                        <div>Чт</div>
                        <div>Пт</div>
                        <div>Сб</div>
                    </div>
                    <div class="calendar-days"></div>
                </div>
                <div class="calendar-footer">

                </div>
                <div class="month-list"></div>
            </div>
        </div>
        <div class="vidjet_cont">
            <div id = "open_write" class="vidjet_write" hidden>
                <div class="vidjet_header_write">
                    <div class="f_header_write">
                        <button id = "ArrowButton" class="arrow_btn" onclick="return show_hide_write(this);"><img src="/static/images/arrow.svg"></button>
                    </div>
                    <div class="s_header_write">
                        <p>ЗАМЕТКИ</p>
                    </div>
                    <div class="t_header_write">
                        <button form = "add" class="check_btn"><img src="/static/images/check.svg"></button>
                    </div>
                </div>
                <div class="vidjet_note">
                    <form action="/auth/main/" method="POST" id = "add">
                        <div class="vidjet_note_title">
                            <input class="note_title" type="text" name="title" placeholder="Введите название заметок" required/>
                        </div>
                        <div class="note_txt">
                            <p style="margin-left: 35px;">23.02.22</p>
                        </div>
                        <div class="write">
                            <textarea class="note_txt_name" type="text" name="text" placeholder="Текст новой заметки" style="width: 401px; height: 500px; margin-left: 40px; resize: none; border: none; outline:none" required></textarea>
                        </div>
                    </form>
                </div>
            </div>
            <div id = "close_write" class="vidjet">
                <div class="vidjet_header">
                    <p>ЗАМЕТКИ</p>
                </div>
                <div class="vidjet_notes" id="scrollbar">

                    <form action = "/auth/main/find" class="vidjet_note_search" method = "POST">
                        <input class="note_search" type="text" name="title" placeholder="Поиск заметок" />
                        <button class="poisk" type = "submit"><img src="/static/images/lupa.svg" class="svg_lupa"></button>
                    </form>

                    <div class="note" th:each = "note : ${notes}">
                        <a class="f_note" th:href = "@{/auth/main/{id}(id = ${note.getId()})}">
                            <p class = "note_txt_name" th:text = "${note.getTitle()}" />
                            <p class = "note_txt" th:text = "${#dates.format(note.getDate(), 'dd-MM-yyyy')}" />
                        </a>
                        <form th:method = "DELETE" th:action = "@{/auth/{id}(id = ${note.getId()})}" class="s_note">
                            <button class="delete" type="submit"><img src="/static/images/bucket.svg" class="svg_bucket"></button>
                        </form>
                    </div>
                    <!--Если заметка не была найдена-->
                    <p style = "text-align: center" class = "note_txt_name" th:if = "${exception != null}" th:text = "${exception}" />
                </div>
                <button class="vidjet_add" id="okButton" onclick="return show_hide_note(this);">
                    <p>НОВАЯ ЗАМЕТКА</p>
                </button>
            </div>
        </div>
        <script src="/static/js/calendar.js"></script>
    </body>
</html>