<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HelpBox</title>
    <link rel="stylesheet" href="css/osnova.css">
</head>

<body>
    <header>

        // разметка для логотипа

        <div class="logo">
            <a href="index.html">
                <span class="use">USE</span>-<span class="web">WEB</span>.ru
            </a>
            <p>Разработка- это просто</p>
        </div>

        // разметка для нашего меню

        <div class="top-menu">
            <ul>
                <li><a class="clickMenu" href="#">-</a></li>
                <li><a href="#">Профиль</a></li>
                <li><a href="#">Доска</a></li>
                <li><a href="#">тут будет хрень с виджетами</a></li>

            </ul>
        </div>

        // блок с авторизацией

        <div class="block-top-auth">
            <p><a href="#">Вход</a></p>
            <p><a href="#">Регистрация</a></p>
        </div>

        <div>
            <form action = "/auth/main" method = "POST">
                <input type = "text" name = "title" placeholder = "Введите название заметки" required />
                <input type = "text" name = "text" placeholder = "Введите содержимое заметки" required />
                <button type = "submit">Добавить</button>
            </form>
        </div>

        <h3>Заметки</h3>
        <div th:each = "note : ${notes}">
            <span th:text = "${note.getTitle()}" />
            <span th:text = "${note.getText()}" />
            <span th:text = "${#dates.format(note.getDate(), 'dd-MM-yyyy HH:mm')}" />
            <div>
                <form th:action = "@{/auth/{id}(id = ${note.getId()})}" th:method = "DELETE">
                    <button type="submit">Удалить</button>
                </form>
                <form th:method = "PATCH" th:action = "@{/auth/{id}(id = ${note.getId()})}">
                    <input type = "text" name = "title" placeholder = "Введите название заметки" required />
                    <input type = "text" name = "text" placeholder = "Введите содержимое заметки" required />
                    <button type = "submit">Обновить</button>
                </form>
            </div>
            <br/>
        </div>

    </header>
    <div class="content">
        <div class="calendar"></div>
        <div class="vidjet"></div>
    </div>
    <img style="margin-left: 40%;" src="https://c.tenor.com/yIWsA_YgyiMAAAAd/sarhosternal-ronaldo.gif" alt="я джифка">
    <h1 style="text-align: center;">Когда зашёл на HelpBox</h1>
</body>

</html>